:root {
    --blue-color: #3b71fe;
    --paper-color: #fcfcfd;
    --normal-color: #23262f;
    --grey-color: #777e90;
    --dark-color: #141416;
    --lightWhite-color: #e6e8ec;
    --lightBlack-color: #353945;
    --lightGrey-color: #b1b5c3;
    --darkBlue1-color: #0142eb;
    --font-sans: "DM Sans", sans-serif;
}
